<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Quadratic Equations!</title>
  <meta name="description" content="Quadratic Equation Solver">
  <meta name="author" content="Galvanize DSI">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  <script>
    submit = function(){
	  xsquare = $("#xsquare").val()
	  x = $("#x").val()
	  constant = $("#constant").val()
	  
	  equation = {xsquare : xsquare, x : x, constant : constant}
	  
	  $.post({
	    url: "/solve",
		contentType: "application/json",
		data: JSON.stringify(equation)
	  });
	}
  </script>
</head>

<body>

    <h1>My Favorite Quadratic Equations</h1>
    <p>x^2 + 2x + 1</p>
    <p>x^2 - 2x + 1</p>
	
	<h3>Enter your favorite equation so we can solve it!</h3>
	<input type="text" placeholder="x^2 term" id="xsquare">
	<label for="xsquare">X^2</label>
	<input type="text" placeholder="x term" id="x">
	<label for="x">X^1</label>
	<input type="text" placeholder="constant term" id="constant">
	<label for="constant">X^0</label>
	
	<button onclick="submit();">Solve!</button>

</body>
</html>
